@include tablet {
  .contenedor-anuncios {
    //@include grid(3, 2rem);
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(0, auto) minmax(0, auto);
    grid-template-rows: minmax(0, auto);
    gap: 1rem;
  }
  .anuncio{
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .anuncio img{
    height: 200px;
    overflow: hidden;
  }
  .contenido-anuncio{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .card-description{
    flex-grow: 1;
  }
}
//  new
.contenedor-anuncios{
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}
.anuncio img{
  border-radius: 8px 8px 0 0;
}


//aqui termina
.anuncio {
  background-color: lighten($gris, 5);
  border: 1px solid lighten($gris, 10);
  margin-bottom: 2rem;
  border-radius: 8px;

  .contenido-anuncio  {
    padding: 2rem;
    
  }

  h3,
  p {
    margin: 0;
    word-wrap: break-word;
    
    
    //overflow-wrap: break-word;
  }
  h3{
    font-weight: 900;
    margin-bottom: 3rem;
    font-size: 2.3rem;
  }
}
.precio {
  color: $verde;
  font-weight: 700;
  font-size: 3rem;
}
.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    flex: 1;
    display: flex;
  }
  img {
    flex: 0 0 3rem;
    margin-right: 1rem;
  }
}
.progress{
  --bs-progress-height: 2rem;
  margin-bottom: 1rem;
}

.fecha{
  color: $gris;
  background-color: #77dd77;
  font-size: 3rem;
  font-weight: 900;
  -webkit-text-stroke: 2px #000;
  text-align: center;
}
.titulo{
  font-weight: 900;
  color: #fb8500;
}
.abajo{
  font-weight: 900;
}
.titulo-seccion {
  text-align: center;
}

.resaltarColor {
  background-color: rgba(255, 255, 0, 0.3);
  border-radius: 3px;
  padding: 2px 0;
}

#buscador {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#mensaje-busqueda {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  text-align: center;
}
.documento{
text-align: center;
}
// input{
//   width: 50vw;
//   padding: 10px;
//   outline: none;
//   border: 5px solid #CCD1E4;
//   font-weight: 600;
// }

