.no-webp .imagen-contacto {
  background-image: url(../img/banner1.2.jpg);
}

.webp .imagen-contacto {
  background-image: url(../img/banner1.2.webp);
}
.imagen-contacto {
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 30px 15px #000000;
  

  h2 {
    font-size: 4rem;
    font-weight: $black;
    color: $amarillo;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  }

  p {
    font-size: 2.8rem;
    color: $amarillo;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  }
}
